<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
nav {
	background-color: honeydew; 
}
nav a, nav span {
	color: #444444;
	font-size: 20px;   
}
li {
	padding-right: 25px; 
}
</style>
</head>
<body>
<nav class="navbar navbar-fixed-top">
	<div class="container-fluid" style="height:40px; padding-right:30px">
		<a href="/orglogin.do" style="float:right"><button class="btn btn-link" style="float:right">
			<span class="glyphicon glyphicon-user"></span> Sign In 
			</button></a>
	</div> 
	<hr style="margin:0">
	<div class="container-fluid">
		<div class="navbar-header" style="padding-left: 25px">
		<span class="navbar-brand" style="font-size: 25px">DonationFinder</span>
		</div>  
		<ul class="nav navbar-nav navbar-right">
		<li><a href="/home.do">Home</a></li>
		<li><a href="/donator.do">Donator</a></li>
		<li><a href="/orglogin.do">Organization</a></li> 
		</ul> 
	</div> 
</nav> 
</body>
</html>